{% extends 'shared/layout.html' %}
{% block title %}
Inventory
{% endblock %}

{% block css %}{% endblock %}

{% block modal %}
<div class="modal fade" id="modal-inventory">
    <div class="modal-dialog">
        <div class="modal-content card bg-secondary shadow">
            <div class="modal-header card-header bg-white border-0">
                <h4 class="card-title">Inventory Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body card-body">
                <div class="row">
                    <input id="id" name="id" type="text" class="form-control " hidden value="-1">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Item <span id="item_error" class="h5 text-danger"></span></label>
                            <input id="item" name="item" type="text" class="form-control ">
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Date Received <span id="receive_date_error" class="h5 text-danger"></span></label> 
                            <input id="receive_date" name="receive_date" type="text" class="form-control datepicker">
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Quantity <span id="quantity_error" class="h5 text-danger"></span></label>
                            <input id="quantity" name="quantity" type="number" min="1" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Expiry <span id="expiry_date_error" class="h5 text-danger"></span></label> 
                            <input id="expiry_date" name="expiry_date" type="text" class="form-control datepicker">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Status <span id="status_id_error" class="h5 text-danger"></span></label>
                            <select id="status_id" name="status_id" data-style="bg-white px-4 py-3 shadow-sm" class="form-control  selectpicker" data-live-search="true">
                                {% for status in data.status %}
                                    {% if status.id >= 5 %}
                                        <option value="{{status.id}}">{{status.status}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-sm btn-success" onclick="SaveInventory()">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content" id="panel">
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <p class="display-2 text-default d-inline-block mb-0">Inventory</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="display-4 d-inline-block mb-0">Supplies</p>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm btn-success" onclick="AddNewInventory()">Add New</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Item</th>
                                    <!-- <th scope="col">Date Received</th> -->
                                    <th scope="col">Available Stocks</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inventory in data.inventories %}
                                <tr id='inventory-{{inventory.id}}' data-id={{inventory.id}}>
                                    <td>
                                        {{inventory.item}}
                                    </td>
                                    <td>
                                        {{ inventory.quantity }}
                                    </td>
                                    <td>
                                        {{inventory.status.status}}
                                    </td>
                                    <td class="text-right">
                                        <button onclick="EditInventory('{{ inventory.id }}')" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                                        <button onclick="DeleteInventory('{{ inventory.id }}')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    setSideBar('#menu-inventory')

    var modal_inventory = '#modal-inventory'

    var AddNewInventory = function () {

        $('#id').val('-1')
        $('#item').val('')
        $('#quantity').val('')
        $('#expiry_date').val('')
        // $('#receive_date').val("{{data.current_date.strftime('%m/%d/%Y')}}")
        $(".selectpicker").selectpicker('deselectAll');
        $(".selectpicker").selectpicker('val', 5);

        $('#item_error').html('')
        $('#expiry_date_error').html('')
        // $('#receive_date_error').html('')
        $('#quantity_error').html('')
        $('#status_id_error').html('')

        $(modal_inventory).modal({
            "backdrop": "static",
            "keyboard": true,
            "show": true
        })

    }

    var SaveInventory = function () {

        $('#item_error').html('')
        $('#expiry_date_error').html('')
        // $('#receive_date_error').html('')
        $('#quantity_error').html('')
        $('#status_id_error').html('')

        data = {
            'id'            : $('#id').val(),
            'item'          : $('#item').val(),
            'expiry_date'   : $('#expiry_date').val(),
            'receive_date'  : null, //$('#receive_date').val(), 
            'quantity'      : $('#quantity').val(),
            'status_id'     : $('#status_id').val()
        }

        Controller.POST('/api/inventory/upsert', data).done(function (result) {
            console.log(result)
            if (result.success) {
                location.reload()
            }
            else {
                if (result.errors.item) $('#item_error').html(result.errors.item)
                if (result.errors.expiry_date) $('#expiry_date_error').html(result.errors.expiry_date)
                // if (result.errors.receive_date) $('#receive_date_error').html(result.errors.receive_date)
                if (result.errors.quantity) $('#quantity_error').html(result.errors.quantity)
                if (result.errors.status_id) $('#status_id_error').html(result.errors.status_id)
            }
        })

    }

    var EditInventory = function (id) {

        $('#item_error').html('')
        $('#expiry_date_error').html('')
        // $('#receive_date_error').html('')
        $('#quantity_error').html('')
        $('#status_id_error').html('')

        Controller.GET('/api/inventory/get/' + id, {}).done(function (result) {

            $('#id').val(result.id)
            $('#item').val(result.item)
            $('#expiry_date').val(result.expiry_date)
            // $('#receive_date').val(result.receive_date)
            $('#quantity').val(result.quantity)
            $("#status_id").selectpicker('val', result.status_id)

            $(modal_inventory).modal({
                "backdrop": "static",
                "keyboard": true,
                "show": true
            })

        })

    }

    var DeleteInventory = function (id) {

        bootbox.confirm({
            message: "Delete Inventory?",
            buttons: {
                confirm: {
                    label: 'Delete',
                    className: 'btn-sm btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-sm btn-info'
                }
            },
            callback: function (result) {
                if (result) {

                    Controller.POST('/api/inventory/delete', { 'id': id }).done(function (result) {
                        location.reload()
                    })

                }
            }
        })
    }

</script>
{% endblock %}