<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
</head>
<body>
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">Case No.</th>
                <th scope="col">Case Title</th>
                <th scope="col">Patient</th>
                <th scope="col">Respondent</th>
                <th scope="col">Date Filed</th>
                <th scope="col">First Hearing</th>
                <th scope="col">Last Hearing</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data.records %}
            <tr>
                <th scope="row">
                    {{record.record_number}}
                </th>
                <td>
                    {{record.case_title}}
                </td>
                <td>
                    {{record.patient.first_name}} {{record.patient.last_name}}
                </td>
                <td>
                    {{record.respondent}}
                </td>
                <td>
                    {{record.date_recorded.strftime('%h %d %Y %I:%M %p')}}
                </td>
                <td>
                    {{(record.records_appointments|first).appointment.strftime('%h %d %Y %I:%M %p') if
                    (record.records_appointments|length) > 0 else 'NONE'}}
                </td>
                <td>
                    {{(record.records_appointments|last).appointment.strftime('%h %d %Y %I:%M %p') if
                    (record.records_appointments|length) > 1 else 'NONE'}}
                </td>
                <td>
                    {{record.status.status}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>